*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:orange;
}
.main{
    top: 50px;
    margin: auto;
    width: 800px;
    height: 500px;
    background-color: rgb(218, 218, 232);
    position: relative;
    border-radius: 20px;
    
}
.content span{
    margin-top: 50px;
}
.content{
    margin-top: 150px;
    /* background-color: rgba(0, 0, 0, 0.233); */
    position: absolute;
    width: 30%;
    margin-left: 300px;
   
    
}
h1{
    padding: 4px;
}
.block{
    background-color: rgb(235, 112, 24);
    position: absolute;
    width: 320px;
    height: 300px;
    border-radius: 10px;
    top: 100px;
    left: -100px;
}
button{
    padding: 10px 20px;
    border-radius: 10px;
    background-color: orangered;
}