*{
    padding: 0px;
    margin: 0px;
}
.col{
    width: 300px;
    height: 600px;
    border: 1px solid grey;
    padding: 10px;
}

/* .main{
    background-color: green;
    height: 100vh;
} */
.row{
    padding: 20px;
    height: 500px;
    display: flex; /*  it use to make block coloum in inline */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse;it make a row's div in reverse manner */
    /* background-color: blue; */
    text-align: center;
    /* justify-content: center;make div center */
    /* justify-content: space-around; */
    justify-content: space-between;
    /* align-items: center;  make div in center accordigng to height and width */
    /* align-items: end; */
    /* align-items: baseline; they both are moving at the end and baseline */
    gap: 10px; /* use gap between div*/
    /* color: white; */
    flex-wrap: wrap;/* jitne div ki requirement hogi ye utna apne pass rakhega or baaki to next line adjust kr dega/'*/
 
}
/* .row .col-1{
    align-self: center;
    flex-basis: 60%;   It make a div 60% and rest of all will automatically set
}
.row .col-2{
    align-self: end;
    flex-basis: 40%;
}
.row .col-3{
    align-self: center;
    flex-basis: 40%;
} */

.row .col .img img{
    width: 100%;
}
.row .col .content{
    padding: 10px;
    margin-top: 20px;

}
.btn{
    margin-top: 20px;
    /* background-color: rgb(30, 159, 195); */
    border: none;
    padding:  10px 15px;
    color: aliceblue;
    border-radius: 5px;
}
.btn button:nth-child(1){
 /* margin-top: 20px; */
 background-color: rgb(30, 159, 195);
}
.btn button:nth-child(2){
    background-color: blueviolet;
}
.row .col:hover{
    /* margin-top: 10px;
    transition: all 0.51s; */
    margin: 20px;
}

.row .col-1:hover{
    margin-top: 10px;
    transition: all 0.51s;
}
.row .col-2:hover{
    margin-top: 20px;
    transition: all 0.51s;
}
.row .col-3:hover{
    margin-top: 30px;
    transition: all 0.51s;
}
.row .col-4:hover{
    margin-top: 40px;
    transition: all 0.51s;
}